@model LapTrinhWebDatTourDuLich.Models.Table_ThanhToan
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm hoá đơn thanh toán </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

          <div class="form-group">
            <label class="control-label col-md-2" for="MaKH"> Mã KH: </label>
            @*@Html.LabelFor(model => model.MaKH, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*  @Html.EditorFor(model => model.MaKH, new { htmlAttributes = new { @class = "form-control" } }) *@
                @Html.ValidationMessageFor(model => model.MaKH, "", new { @class = "text-danger" })
                <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-required="Phải nhập mã khách hàng!" min="1" id="MaKH" name="MaKH" type="number" value="" aria-describedby="MaKH-error" aria-invalid="true"> @ViewData["NhapMaKH"]
            </div>
        </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="MaDonTour"> Mã đơn tour: </label>
            @*@Html.LabelFor(model => model.MaDonTour, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*  @Html.EditorFor(model => model.MaDonTour, new { htmlAttributes = new { @class = "form-control" } }) *@
                @Html.ValidationMessageFor(model => model.MaDonTour, "", new { @class = "text-danger" })
                <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-required="Phải nhập mã đơn tour!" min="1" id="MaDonTour" name="MaDonTour" type="number" value="" aria-describedby="MaDonTour-error" aria-invalid="true"> @ViewData["NhapMaDonTour"]
            </div>
        </div>

         <div class="form-group">
            <label class="control-label col-md-2" for="MaTour"> Mã tour: </label>
            @*@Html.LabelFor(model => model.MaTour, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*  @Html.EditorFor(model => model.MaTour, new { htmlAttributes = new { @class = "form-control" } }) *@
                @Html.ValidationMessageFor(model => model.MaTour, "", new { @class = "text-danger" })
                <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-required="Phải nhập mã tour!" min="1" id="MaTour" name="MaTour" type="number" value="" aria-describedby="MaTour-error" aria-invalid="true"> @ViewData["NhapMaTour"]
            </div>
        </div>

         <div class="form-group">
            <label class="control-label col-md-2" for="TongSoTienPhaiThanhToan"> Tổng số tiền phải thanh toán: </label>
            @*@Html.LabelFor(model => model.TongSoTienPhaiThanhToan, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*  @Html.EditorFor(model => model.TongSoTienPhaiThanhToan, new { htmlAttributes = new { @class = "form-control" } }) *@
                @Html.ValidationMessageFor(model => model.TongSoTienPhaiThanhToan, "", new { @class = "text-danger" })
                <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-required="Phải nhập tổng số tiền phải thanh toán!" min="0" id="TongSoTienPhaiThanhToan" name="TongSoTienPhaiThanhToan" type="number" value="" aria-describedby="TongSoTienPhaiThanhToan-error" aria-invalid="true"> @ViewData["NhapTongSoTienPhaiThanhToan"]
            </div>
        </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="SoTienDaThanhToan"> Số tiền đã thanh toán: </label>
            @*@Html.LabelFor(model => model.SoTienDaThanhToan, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*  @Html.EditorFor(model => model.SoTienDaThanhToan, new { htmlAttributes = new { @class = "form-control" } }) *@
                @Html.ValidationMessageFor(model => model.SoTienDaThanhToan, "", new { @class = "text-danger" })
                <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-required="Phải nhập số tiền đã thanh toán!" min="0" id="SoTienDaThanhToan" name="SoTienDaThanhToan" type="number" value="" aria-describedby="SoTienDaThanhToan-error" aria-invalid="true"> @ViewData["NhapSoTienDaThanhToan"]
            </div>
        </div>

         <div class="form-group">
            <label class="control-label col-md-2" for="GhiChu"> Ghi chú: </label>
            @*@Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*  @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } }) *@
                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-required="Phải nhập ghi chú!" id="GhiChu" name="GhiChu" type="text" value="" aria-describedby="GhiChu-error" aria-invalid="true"> @ViewData["NhapGhiChu"]
            </div>
        </div>
 
         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
         </div>


    </div>
}

<div>
    @Html.ActionLink("Trở về danh sách thanh toán", "ListThanhToan")
</div>
