@model LapTrinhWebDatTourDuLich.Models.Table_ThanhToan
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xoá</h2>

<h3>Bạn có chắc muốn xoá thông tin hoá đơn thanh toán này?</h3>

<div>
    <h4> </h4>
    <hr />
    <dl class="dl-horizontal">

        <dd class="display-label"><b> Mã thanh toán: </b> @Model.MaThanhToan</dd>
        <dd class="display-label"><b> Mã KH: </b> @Model.MaKH</dd>
        <dd class="display-label"><b> Mã đơn tour: </b> @Model.MaDonTour</dd>
        <dd class="display-label"><b> Mã tour: </b> @Model.MaTour</dd>
        <dd class="display-label"><b> Tổng số tiền phải thanh toán: </b> @Model.TongSoTienPhaiThanhToan</dd>
        <dd class="display-label"><b> Số tiền đã thanh toán: </b> @Model.SoTienDaThanhToan</dd>
        <dd class="display-label"><b> Ghi chú: </b> @Model.GhiChu</dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách thanh toán", "ListThanhToan")
        </div>
    }
</div>

