@model LapTrinhWebDatTourDuLich.Models.Table_ThanhToan
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa thông tin thanh toán</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4> </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaTour)

        <div class="form-group">
            <label class="control-label col-md-2" for="MaKH"> Mã KH: </label>
            @*@Html.LabelFor(model => model.MaKH, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaKH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaKH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MaDonTour"> Mã đơn tour: </label>
            @*@Html.LabelFor(model => model.MaDonTour, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaDonTour, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaDonTour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MaTour"> Mã tour: </label>
            @*@Html.LabelFor(model => model.MaTour, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaTour, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaTour, "", new { @class = "text-danger" })
            </div>
        </div>
        
         <div class="form-group">
            <label class="control-label col-md-2" for="TongSoTienPhaiThanhToan"> Tổng số tiền phải thanh toán: </label>
            @*@Html.LabelFor(model => model.TongSoTienPhaiThanhToan, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.TongSoTienPhaiThanhToan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TongSoTienPhaiThanhToan, "", new { @class = "text-danger" })
            </div>
        </div>

         <div class="form-group">
            <label class="control-label col-md-2" for="SoTienDaThanhToan"> Số tiền đã thanh toán: </label>
            @*@Html.LabelFor(model => model.SoTienDaThanhToan, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoTienDaThanhToan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoTienDaThanhToan, "", new { @class = "text-danger" })
            </div>
        </div>

         <div class="form-group">
            <label class="control-label col-md-2" for="GhiChu"> Ghi chú: </label>
            @*@Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>

        
    </div>

}

<div>
    @Html.ActionLink("Trở về danh sách thanh toán", "ListThanhToan")
</div>

