
@{
    ViewBag.Title = "DanhSachGioiThieuTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách giới thiệu tour</h2>

<tr>
<h4>Mã tour 1: Nha Trang (Khách sạn 3*) 30/06/2022</h4>
<p>
    @Html.ActionLink("Giới thiệu mã tour 1", "GioiThieuTourNhaTrang1")
    <img class="center" src="https://chieutour.com.vn/upload/images/gioi-thieu-ve-tour-du-lich-nha-trang.jpg" height="250" />
</p>
</tr>
<tr>
    <h4>Mã tour 2:Nha Trang (Khách sạn 4*) 06/07/2022</h4>
    <p>
        @Html.ActionLink("Giới thiệu mã tour 2", "GioiThieuTourNhaTrang2")
        <img class="center" src="http://chiase24.com/wp-content/uploads/2022/02/Tong-hop-hinh-anh-Nha-Trang-dep-nhat-2.jpg" height="250" />
    </p>
</tr>
<tr>
    <h4>Mã tour 3: Đà Lạt (Khách sạn 3*) 10/07/2022</h4>
    <p>
        @Html.ActionLink("Giới thiệu mã tour 3", "GioiThieuTourDaLat3")
        <img class="center" src="https://du-lich-da-lat.com/wp-content/uploads/2022/03/khung-canh-doi-may-da-lat-1024x768.jpg" height="300" />
    </p>
</tr>
<tr>
    <h4>Mã tour 4: Đà Nẵng (Khách sạn 5*) 15/07/2022</h4>
    <p>
        @Html.ActionLink("Giới thiệu mã tour 4", "GioiThieuTourDaNang4")
        <img class="center" src="http://divui.com/blog/wp-content/uploads/2018/08/vtimes-696x398.jpg" height="250" />
    </p>
</tr>
<tr>
    <h4>Mã tour 5: Đà Nẵng - Huế - Hội An (Khách sạn 4*) 20/07/2022 </h4>
    <p>
        @Html.ActionLink("Giới thiệu mã tour 5", "GioiThieuTourDaNang5")
        <img class="center" src="https://icdn.24h.com.vn/upload/2-2018/images/2018-06-16/1529146757-16-chum-anh-chung-minh-da-nang-chinh-la-thanh-pho-dang-song-nhat-viet-nam-5-1529123351-width650height433.jpg" height="250" />
    </p>
</tr>
<tr>
    <h4>Mã tour 6: Quy Nhơn - Phú Yên - Eo Gió (Khách sạn 3*) 25/07/2022 </h4>
    <p>
        @Html.ActionLink("Giới thiệu mã tour 6", "GioiThieuTourQuyNhon6")
        <img class="center" src="https://quynhontourist.com/wp-content/uploads/2019/05/Jeju-asia-travel-768x513.jpg" height="250" />
    </p>
</tr>
<tr>
    <h4>Mã tour 7: Hà Nội - Sapa - Bản Cát Cát (Khách sạn 4*) 30/07/2022 </h4>
    <p>
        @Html.ActionLink("Giới thiệu mã tour 7", "GioiThieuTourHaNoi7")
        <img class="center" src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_863/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/ddlzgouf8qf2jiqzdhj3/TourThamQuanB%E1%BA%A3nC%C3%A1tC%C3%A1tv%E1%BB%9BiT%C3%B9yCh%E1%BB%8DnKh%C3%A1mPh%C3%A1MOANA-%C4%90i%E1%BB%83mCheck-inM%E1%BB%9Bi%E1%BB%9FSapa.webp" height="250" />
    </p>
</tr>
